.App {
  font-family: sans-serif;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

button {
  margin: 1rem 0.3rem 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(229, 231, 235);
  border: 1px solid black;
}

p {
  font-size: smaller;
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style: none;
  padding: 1rem;
  border: 1px solid rgb(209, 213, 219);
  width: 70%;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
}

.MusicTitle {
  font-size: larger;
  padding-bottom: 0.3rem;
}

.MusicRating {
  font-size: smaller;
}
